In [ ]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
from scipy.stats import linregress
import math

In [ ]:
#merging all the datasets into one
mergestorm_df = pd.concat( 
    map(pd.read_csv, ["resources/stormevents_1950.csv", "resources/stormevents_1951.csv", "resources/stormevents_1952.csv", 
                      "resources/stormevents_1953.csv", "resources/stormevents_1954.csv", "resources/stormevents_1955.csv",
                      "resources/stormevents_1956.csv", "resources/stormevents_1957.csv", "resources/stormevents_1958.csv",
                      "resources/stormevents_1959.csv", "resources/stormevents_1960.csv", "resources/stormevents_1961.csv",
                      "resources/stormevents_1962.csv", "resources/stormevents_1963.csv", "resources/stormevents_1964.csv"]),
                      ignore_index=True)
mergestorm_df.head()

In [ ]:
# Create a DataFrame with selected columns 
clean_mergestorm_df = mergestorm_df[["YEAR", 
                                     "STATE", 
                                     "EVENT_TYPE",  
                                     "INJURIES_DIRECT", 
                                     "INJURIES_INDIRECT",
                                     "DEATHS_DIRECT", 
                                     "DEATHS_INDIRECT",
                                     "DAMAGE_PROPERTY",
                                     "DAMAGE_CROPS", 
                                     "SOURCE", 
                                     "MAGNITUDE", 
                                     "MAGNITUDE_TYPE", 
                                     "TOR_F_SCALE", 
                                     "TOR_LENGTH",
                                     "TOR_WIDTH",
                                     "TOR_OTHER_CZ_STATE",
                                     "BEGIN_LOCATION", 
                                     "BEGIN_LAT", 
                                     "BEGIN_LON", 
                                     "END_LAT", 
                                     "END_LON", 
                                     "EPISODE_ID", 
                                     "EVENT_ID",]]
clean_mergestorm_df

In [9]:
clean_mergestorm_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22087 entries, 0 to 22086
Data columns (total 23 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   YEAR                22087 non-null  int64
 1   STATE               22087 non-null  object
 2   EVENT_TYPE          22087 non-null  object
 3   INJURIES_DIRECT     22087 non-null  int64
 4   INJURIES_INDIRECT   22087 non-null  int64
 5   DEATHS_DIRECT       22087 non-null  int64
 6   DEATHS_INDIRECT     22087 non-null  int64
 7   DAMAGE_PROPERTY     8575 non-null   float64
 8   DAMAGE_CROPS        22087 non-null  int64
 9   SOURCE              0 non-null      float64
 10  MAGNITUDE           22087 non-null  float64
 11  MAGNITUDE_TYPE      0 non-null      float64
 12  TOR_F_SCALE         7748 non-null   object
 13  TOR_LENGTH          22087 non-null  float64
 14  TOR_WIDTH           22087 non-null  int64
 15  TOR_OTHER_CZ_STATE  0 non-null      float64
 16  BEGIN_LOCATION      0 non-null      float64
 17  BEGIN_LAT           22085 non-null  float64
 18  BEGIN_LON           22085 non-null  float64
 19  END_LAT             3173 non-null   float64
 20  END_LON             3173 non-null   float64
 21  EPISODE_ID          0 non-null      float64
 22  EVENT_ID            22087 non-null  int64
dtypes: float64(12), int64(8), object(3)
memory usage: 3.9+ MB

In [10]:
clean_mergestorm_df["DAMAGE_PROPERTY"] = clean_mergestorm_df["DAMAGE_PROPERTY"].fillna("0.00K")
clean_mergestorm_df["DAMAGE_CROPS"] = clean_mergestorm_df["DAMAGE_CROPS"].fillna("0.00K")

C:\Users\lnfme\AppData\Local\Temp\ipykernel_36136\1402119990.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  clean_mergestorm_df["DAMAGE_PROPERTY"] = clean_mergestorm_df["DAMAGE_PROPERTY"].fillna("0.00K")
C:\Users\lnfme\AppData\Local\Temp\ipykernel_36136\1402119990.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  clean_mergestorm_df["DAMAGE_CROPS"] = clean_mergestorm_df["DAMAGE_CROPS"].fillna("0.00K")

In [11]:
clean_mergestorm_df

,YEAR,STATE,EVENT_TYPE,INJURIES_DIRECT,INJURIES_INDIRECT,DEATHS_DIRECT,DEATHS_INDIRECT,DAMAGE_PROPERTY,DAMAGE_CROPS,SOURCE,...,TOR_LENGTH,TOR_WIDTH,TOR_OTHER_CZ_STATE,BEGIN_LOCATION,BEGIN_LAT,BEGIN_LON,END_LAT,END_LON,EPISODE_ID,EVENT_ID
0,1950,OKLAHOMA,Tornado,0,0,0,0,250000.0,0,NaN,...,3.4,400,NaN,NaN,35.12,-99.20,35.17,-99.20,NaN,10096222
1,1950,TEXAS,Tornado,0,0,0,0,25000.0,0,NaN,...,11.5,200,NaN,NaN,31.90,-98.60,31.73,-98.60,NaN,10120412
2,1950,PENNSYLVANIA,Tornado,2,0,0,0,25000.0,0,NaN,...,12.9,33,NaN,NaN,40.58,-75.70,40.65,-75.47,NaN,10104927
3,1950,PENNSYLVANIA,Tornado,0,0,0,0,2500.0,0,NaN,...,0.0,13,NaN,NaN,40.60,-76.75,NaN,NaN,NaN,10104928
4,1950,PENNSYLVANIA,Tornado,0,0,0,0,2500.0,0,NaN,...,0.0,33,NaN,NaN,41.63,-79.68,NaN,NaN,NaN,10104929
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22082,1964,KANSAS,Hail,0,0,0,0,0.00K,0,NaN,...,0.0,0,NaN,NaN,39.38,-99.28,NaN,NaN,NaN,10025243
22083,1964,KANSAS,Tornado,2,0,0,0,0.0,0,NaN,...,25.7,880,NaN,NaN,37.95,-98.88,38.27,-98.63,NaN,10025244
22084,1964,KANSAS,Tornado,0,0,0,0,250000.0,0,NaN,...,34.0,880,NaN,NaN,38.27,-98.63,38.70,-98.33,NaN,10025245
22085,1964,KANSAS,Hail,0,0,0,0,0.00K,0,NaN,...,0.0,0,NaN,NaN,37.88,-95.40,NaN,NaN,NaN,10025246
22086,1964,KANSAS,Thunderstorm Wind,0,0,0,0,0.00K,0,NaN,...,0.0,0,NaN,NaN,38.08,-98.08,NaN,NaN,NaN,10025247

In [12]:
clean_mergestorm_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22087 entries, 0 to 22086
Data columns (total 23 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   YEAR                22087 non-null  int64
 1   STATE               22087 non-null  object
 2   EVENT_TYPE          22087 non-null  object
 3   INJURIES_DIRECT     22087 non-null  int64
 4   INJURIES_INDIRECT   22087 non-null  int64
 5   DEATHS_DIRECT       22087 non-null  int64
 6   DEATHS_INDIRECT     22087 non-null  int64
 7   DAMAGE_PROPERTY     22087 non-null  object
 8   DAMAGE_CROPS        22087 non-null  int64
 9   SOURCE              0 non-null      float64
 10  MAGNITUDE           22087 non-null  float64
 11  MAGNITUDE_TYPE      0 non-null      float64
 12  TOR_F_SCALE         7748 non-null   object
 13  TOR_LENGTH          22087 non-null  float64
 14  TOR_WIDTH           22087 non-null  int64
 15  TOR_OTHER_CZ_STATE  0 non-null      float64
 16  BEGIN_LOCATION      0 non-null      float64
 17  BEGIN_LAT           22085 non-null  float64
 18  BEGIN_LON           22085 non-null  float64
 19  END_LAT             3173 non-null   float64
 20  END_LON             3173 non-null   float64
 21  EPISODE_ID          0 non-null      float64
 22  EVENT_ID            22087 non-null  int64
dtypes: float64(11), int64(8), object(4)
memory usage: 3.9+ MB

In [16]:
# =============================================
# change a string into a float; account for magnitude of
# # the number as represented in the string
def retype_damage_value(value):
    if pd.isna(value):
        return np.nan

    try:
        if isinstance(value, (int, float)):
            return float(value)

        value_str = str(value)
        if not value_str:
            return np.nan

        num_str = value[:-1]
        magnitude = value[-1]

        num = float(num_str)
        
        if magnitude == 'K':
            num *= 1000
        elif magnitude == 'M':
            num *= 1000000
        elif magnitude == 'B':
            num *= 1000000000
    
        return num
    except (ValueError, IndexError):
        return np.nan

In [17]:
clean_mergestorm_df['DAMAGE_PROPERTY'] = clean_mergestorm_df['DAMAGE_PROPERTY'].apply(retype_damage_value)
clean_mergestorm_df['DAMAGE_CROPS'] = clean_mergestorm_df['DAMAGE_CROPS'].apply(retype_damage_value)

C:\Users\lnfme\AppData\Local\Temp\ipykernel_36136\2374613189.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  clean_mergestorm_df['DAMAGE_PROPERTY'] = clean_mergestorm_df['DAMAGE_PROPERTY'].apply(retype_damage_value)
C:\Users\lnfme\AppData\Local\Temp\ipykernel_36136\2374613189.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  clean_mergestorm_df['DAMAGE_CROPS'] = clean_mergestorm_df['DAMAGE_CROPS'].apply(retype_damage_value)

In [18]:
clean_mergestorm_df.head(25)

,YEAR,STATE,EVENT_TYPE,INJURIES_DIRECT,INJURIES_INDIRECT,DEATHS_DIRECT,DEATHS_INDIRECT,DAMAGE_PROPERTY,DAMAGE_CROPS,SOURCE,...,TOR_LENGTH,TOR_WIDTH,TOR_OTHER_CZ_STATE,BEGIN_LOCATION,BEGIN_LAT,BEGIN_LON,END_LAT,END_LON,EPISODE_ID,EVENT_ID
0,1950,OKLAHOMA,Tornado,0,0,0,0,250000.0,0.0,NaN,...,3.4,400,NaN,NaN,35.12,-99.20,35.17,-99.20,NaN,10096222
1,1950,TEXAS,Tornado,0,0,0,0,25000.0,0.0,NaN,...,11.5,200,NaN,NaN,31.90,-98.60,31.73,-98.60,NaN,10120412
2,1950,PENNSYLVANIA,Tornado,2,0,0,0,25000.0,0.0,NaN,...,12.9,33,NaN,NaN,40.58,-75.70,40.65,-75.47,NaN,10104927
3,1950,PENNSYLVANIA,Tornado,0,0,0,0,2500.0,0.0,NaN,...,0.0,13,NaN,NaN,40.60,-76.75,NaN,NaN,NaN,10104928
4,1950,PENNSYLVANIA,Tornado,0,0,0,0,2500.0,0.0,NaN,...,0.0,33,NaN,NaN,41.63,-79.68,NaN,NaN,NaN,10104929
5,1950,PENNSYLVANIA,Tornado,0,0,0,0,2500.0,0.0,NaN,...,1.0,33,NaN,NaN,40.22,-75.00,NaN,NaN,NaN,10104930
6,1950,PENNSYLVANIA,Tornado,1,0,0,0,250000.0,0.0,NaN,...,4.7,100,NaN,NaN,40.20,-76.12,40.27,-76.07,NaN,10104931
7,1950,PENNSYLVANIA,Tornado,0,0,0,0,250000.0,0.0,NaN,...,11.2,100,NaN,NaN,40.27,-76.07,40.40,-75.93,NaN,10104932
8,1950,OKLAHOMA,Tornado,6,0,0,0,250000.0,0.0,NaN,...,6.8,100,NaN,NaN,35.00,-96.25,35.07,-96.17,NaN,10099490
9,1950,OKLAHOMA,Tornado,0,0,0,0,250.0,0.0,NaN,...,0.0,33,NaN,NaN,34.83,-95.85,NaN,NaN,NaN,10099491
10,1950,OKLAHOMA,Tornado,0,0,0,0,25000.0,0.0,NaN,...,15.8,33,NaN,NaN,36.73,-102.52,36.88,-102.30,NaN,10099492
11,1950,NEBRASKA,Tornado,0,0,0,0,0.0,0.0,NaN,...,1.9,33,NaN,NaN,40.18,-98.03,40.20,-97.98,NaN,10073785
12,1950,OKLAHOMA,Tornado,0,0,0,0,25000.0,0.0,NaN,...,2.0,50,NaN,NaN,35.55,-97.60,NaN,NaN,NaN,10096216
13,1950,OKLAHOMA,Tornado,0,0,0,0,2500.0,0.0,NaN,...,0.1,77,NaN,NaN,34.85,-95.75,NaN,NaN,NaN,10096217
14,1950,OKLAHOMA,Tornado,0,0,0,0,25000.0,0.0,NaN,...,1.0,100,NaN,NaN,35.82,-97.02,NaN,NaN,NaN,10096218
15,1950,OKLAHOMA,Tornado,0,0,0,0,2500.0,0.0,NaN,...,1.0,33,NaN,NaN,36.13,-95.83,NaN,NaN,NaN,10096219
16,1950,OKLAHOMA,Tornado,1,0,1,0,250000.0,0.0,NaN,...,9.4,400,NaN,NaN,34.88,-99.28,35.00,-99.20,NaN,10096220
17,1950,OKLAHOMA,Tornado,0,0,0,0,250000.0,0.0,NaN,...,8.0,400,NaN,NaN,35.00,-99.20,35.12,-99.20,NaN,10096221
18,1950,OKLAHOMA,Tornado,32,0,5,0,250000.0,0.0,NaN,...,4.5,200,NaN,NaN,35.08,-96.40,35.13,-96.35,NaN,10096223
19,1950,OKLAHOMA,Tornado,0,0,0,0,25000.0,0.0,NaN,...,0.8,100,NaN,NaN,34.55,-96.20,NaN,NaN,NaN,10096224
20,1950,OKLAHOMA,Tornado,0,0,0,0,2500.0,0.0,NaN,...,0.0,33,NaN,NaN,35.58,-99.17,NaN,NaN,NaN,10096225
21,1950,OKLAHOMA,Tornado,0,0,0,0,25000.0,0.0,NaN,...,5.6,293,NaN,NaN,35.25,-99.55,35.32,-99.50,NaN,10096226
22,1950,OKLAHOMA,Tornado,0,0,0,0,250000.0,0.0,NaN,...,1.0,100,NaN,NaN,36.57,-99.57,NaN,NaN,NaN,10096227
23,1950,OKLAHOMA,Tornado,0,0,0,0,0.0,0.0,NaN,...,0.0,33,NaN,NaN,36.30,-99.80,NaN,NaN,NaN,10096228
24,1950,OKLAHOMA,Tornado,0,0,0,0,2500.0,0.0,NaN,...,0.0,33,NaN,NaN,36.00,-97.00,NaN,NaN,NaN,10096229

In [19]:
#convert crop damages from object to string
#clean_mergestorm_df["DAMAGE_CROPS"].astype(str)
#clean_mergestorm_df["DAMAGE_PROPERTY"].astype(str)

In [20]:
#clean_mergestorm_df["DAMAGE_CROPS"].info()

In [21]:
# Add new columns that combine direct/indirect deaths; direct/indirect injuries; property/crop damage

clean_mergestorm_df["TOTAL DEATHS"] = clean_mergestorm_df["DEATHS_DIRECT"] + clean_mergestorm_df["DEATHS_INDIRECT"]
clean_mergestorm_df["TOTAL INJURIES"] = clean_mergestorm_df["INJURIES_DIRECT"] + clean_mergestorm_df["INJURIES_INDIRECT"]
clean_mergestorm_df["TOTAL DAMAGES"] = clean_mergestorm_df["DAMAGE_PROPERTY"] + clean_mergestorm_df["DAMAGE_CROPS"]

clean_mergestorm_df

C:\Users\lnfme\AppData\Local\Temp\ipykernel_36136\1025980192.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  clean_mergestorm_df["TOTAL DEATHS"] = clean_mergestorm_df["DEATHS_DIRECT"] + clean_mergestorm_df["DEATHS_INDIRECT"]
C:\Users\lnfme\AppData\Local\Temp\ipykernel_36136\1025980192.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  clean_mergestorm_df["TOTAL INJURIES"] = clean_mergestorm_df["INJURIES_DIRECT"] + clean_mergestorm_df["INJURIES_INDIRECT"]
C:\Users\lnfme\AppData\Local\Temp\ipykernel_36136\1025980192.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  clean_mergestorm_df["TOTAL DAMAGES"] = clean_mergestorm_df["DAMAGE_PROPERTY"] + clean_mergestorm_df["DAMAGE_CROPS"]

,YEAR,STATE,EVENT_TYPE,INJURIES_DIRECT,INJURIES_INDIRECT,DEATHS_DIRECT,DEATHS_INDIRECT,DAMAGE_PROPERTY,DAMAGE_CROPS,SOURCE,...,BEGIN_LOCATION,BEGIN_LAT,BEGIN_LON,END_LAT,END_LON,EPISODE_ID,EVENT_ID,TOTAL DEATHS,TOTAL INJURIES,TOTAL DAMAGES
0,1950,OKLAHOMA,Tornado,0,0,0,0,250000.0,0.0,NaN,...,NaN,35.12,-99.20,35.17,-99.20,NaN,10096222,0,0,250000.0
1,1950,TEXAS,Tornado,0,0,0,0,25000.0,0.0,NaN,...,NaN,31.90,-98.60,31.73,-98.60,NaN,10120412,0,0,25000.0
2,1950,PENNSYLVANIA,Tornado,2,0,0,0,25000.0,0.0,NaN,...,NaN,40.58,-75.70,40.65,-75.47,NaN,10104927,0,2,25000.0
3,1950,PENNSYLVANIA,Tornado,0,0,0,0,2500.0,0.0,NaN,...,NaN,40.60,-76.75,NaN,NaN,NaN,10104928,0,0,2500.0
4,1950,PENNSYLVANIA,Tornado,0,0,0,0,2500.0,0.0,NaN,...,NaN,41.63,-79.68,NaN,NaN,NaN,10104929,0,0,2500.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22082,1964,KANSAS,Hail,0,0,0,0,0.0,0.0,NaN,...,NaN,39.38,-99.28,NaN,NaN,NaN,10025243,0,0,0.0
22083,1964,KANSAS,Tornado,2,0,0,0,0.0,0.0,NaN,...,NaN,37.95,-98.88,38.27,-98.63,NaN,10025244,0,2,0.0
22084,1964,KANSAS,Tornado,0,0,0,0,250000.0,0.0,NaN,...,NaN,38.27,-98.63,38.70,-98.33,NaN,10025245,0,0,250000.0
22085,1964,KANSAS,Hail,0,0,0,0,0.0,0.0,NaN,...,NaN,37.88,-95.40,NaN,NaN,NaN,10025246,0,0,0.0
22086,1964,KANSAS,Thunderstorm Wind,0,0,0,0,0.0,0.0,NaN,...,NaN,38.08,-98.08,NaN,NaN,NaN,10025247,0,0,0.0

In [22]:
drop_merged_df = clean_mergestorm_df.drop(columns=["INJURIES_DIRECT", 
                                                   "INJURIES_INDIRECT",
                                                   "DEATHS_DIRECT", 
                                                   "DEATHS_INDIRECT",
                                                   "DAMAGE_PROPERTY",
                                                   "DAMAGE_CROPS"])
drop_merged_df.head()

,YEAR,STATE,EVENT_TYPE,SOURCE,MAGNITUDE,MAGNITUDE_TYPE,TOR_F_SCALE,TOR_LENGTH,TOR_WIDTH,TOR_OTHER_CZ_STATE,BEGIN_LOCATION,BEGIN_LAT,BEGIN_LON,END_LAT,END_LON,EPISODE_ID,EVENT_ID,TOTAL DEATHS,TOTAL INJURIES,TOTAL DAMAGES
0,1950,OKLAHOMA,Tornado,NaN,0.0,NaN,F3,3.4,400,NaN,NaN,35.12,-99.20,35.17,-99.20,NaN,10096222,0,0,250000.0
1,1950,TEXAS,Tornado,NaN,0.0,NaN,F1,11.5,200,NaN,NaN,31.90,-98.60,31.73,-98.60,NaN,10120412,0,0,25000.0
2,1950,PENNSYLVANIA,Tornado,NaN,0.0,NaN,F2,12.9,33,NaN,NaN,40.58,-75.70,40.65,-75.47,NaN,10104927,0,2,25000.0
3,1950,PENNSYLVANIA,Tornado,NaN,0.0,NaN,F2,0.0,13,NaN,NaN,40.60,-76.75,NaN,NaN,NaN,10104928,0,0,2500.0
4,1950,PENNSYLVANIA,Tornado,NaN,0.0,NaN,F0,0.0,33,NaN,NaN,41.63,-79.68,NaN,NaN,NaN,10104929,0,0,2500.0

In [24]:
# Narrow down events that have had at least one death and/or at least one injury 
narrow_df = drop_merged_df.loc[(drop_merged_df["TOTAL DEATHS"] > 1) | (drop_merged_df["TOTAL INJURIES"] > 1)]

# reset the index 
narrow_df.reset_index(drop=True, inplace=True)

# Display sample data
narrow_df.head(25)

,YEAR,STATE,EVENT_TYPE,SOURCE,MAGNITUDE,MAGNITUDE_TYPE,TOR_F_SCALE,TOR_LENGTH,TOR_WIDTH,TOR_OTHER_CZ_STATE,BEGIN_LOCATION,BEGIN_LAT,BEGIN_LON,END_LAT,END_LON,EPISODE_ID,EVENT_ID,TOTAL DEATHS,TOTAL INJURIES,TOTAL DAMAGES
0,1950,PENNSYLVANIA,Tornado,NaN,0.0,NaN,F2,12.9,33,NaN,NaN,40.58,-75.70,40.65,-75.47,NaN,10104927,0,2,25000.0
1,1950,OKLAHOMA,Tornado,NaN,0.0,NaN,F2,6.8,100,NaN,NaN,35.00,-96.25,35.07,-96.17,NaN,10099490,0,6,250000.0
2,1950,OKLAHOMA,Tornado,NaN,0.0,NaN,F4,4.5,200,NaN,NaN,35.08,-96.40,35.13,-96.35,NaN,10096223,5,32,250000.0
3,1950,OKLAHOMA,Tornado,NaN,0.0,NaN,F2,4.3,33,NaN,NaN,36.12,-97.83,36.17,-97.78,NaN,10096230,0,3,25000.0
4,1950,MISSISSIPPI,Tornado,NaN,0.0,NaN,F1,0.1,10,NaN,NaN,34.73,-88.27,NaN,NaN,NaN,10049534,0,2,25000.0
5,1950,TEXAS,Tornado,NaN,0.0,NaN,F2,4.7,133,NaN,NaN,26.88,-98.12,26.88,-98.05,NaN,10120401,0,2,0.0
6,1950,TEXAS,Tornado,NaN,0.0,NaN,F3,12.0,1000,NaN,NaN,29.67,-95.05,29.83,-95.00,NaN,10120403,1,12,25000.0
7,1950,TEXAS,Tornado,NaN,0.0,NaN,F2,4.6,100,NaN,NaN,32.35,-95.20,32.42,-95.20,NaN,10120404,0,5,250000.0
8,1950,TEXAS,Tornado,NaN,0.0,NaN,F2,4.5,67,NaN,NaN,32.98,-94.63,33.00,-94.70,NaN,10120405,0,6,250000.0
9,1950,TEXAS,Tornado,NaN,0.0,NaN,F2,8.0,833,NaN,NaN,33.33,-94.42,33.45,-94.42,NaN,10120406,1,8,25000.0
10,1950,TEXAS,Tornado,NaN,0.0,NaN,F1,7.7,100,NaN,NaN,31.80,-94.20,31.88,-94.12,NaN,10120409,0,32,250000.0
11,1950,TEXAS,Tornado,NaN,0.0,NaN,F3,1.9,50,NaN,NaN,31.80,-94.20,31.80,-94.18,NaN,10120410,3,15,250000.0
12,1950,TEXAS,Tornado,NaN,0.0,NaN,F4,1.3,233,NaN,NaN,32.42,-99.50,32.42,-99.48,NaN,10120411,5,5,250000.0
13,1950,TEXAS,Tornado,NaN,0.0,NaN,F2,1.9,50,NaN,NaN,36.40,-100.80,36.42,-100.77,NaN,10120413,1,13,250000.0
14,1950,MISSISSIPPI,Tornado,NaN,0.0,NaN,F3,2.0,50,NaN,NaN,33.08,-89.58,NaN,NaN,NaN,10050384,2,1,0.0
15,1950,ARKANSAS,Tornado,NaN,0.0,NaN,F2,4.1,150,NaN,NaN,34.12,-93.07,34.17,-93.03,NaN,9981925,0,3,25000.0
16,1950,MISSOURI,Tornado,NaN,0.0,NaN,F3,6.2,150,NaN,NaN,38.77,-90.22,38.82,-90.12,NaN,10063615,0,3,2500000.0
17,1950,MISSISSIPPI,Tornado,NaN,0.0,NaN,F2,0.0,33,NaN,NaN,33.17,-90.55,NaN,NaN,NaN,10049527,1,2,0.0
18,1950,MISSISSIPPI,Tornado,NaN,0.0,NaN,F2,9.0,50,NaN,NaN,32.28,-90.27,32.30,-90.12,NaN,10049529,0,7,250000.0
19,1950,MISSISSIPPI,Tornado,NaN,0.0,NaN,F2,6.2,50,NaN,NaN,32.28,-90.27,32.30,-90.17,NaN,10049530,0,6,250000.0
20,1950,OKLAHOMA,Tornado,NaN,0.0,NaN,F2,1.0,33,NaN,NaN,36.45,-99.03,NaN,NaN,NaN,10096235,0,2,25000.0
21,1950,MISSISSIPPI,Tornado,NaN,0.0,NaN,F2,0.0,33,NaN,NaN,34.60,-89.12,NaN,NaN,NaN,10049525,3,2,25000.0
22,1950,NEBRASKA,Tornado,NaN,0.0,NaN,F2,4.1,33,NaN,NaN,42.60,-97.88,42.65,-97.82,NaN,10073784,0,101,25000.0
23,1950,NEBRASKA,Tornado,NaN,0.0,NaN,F4,10.0,440,NaN,NaN,41.80,-96.60,41.73,-96.42,NaN,10073786,0,33,2500000.0
24,1950,MISSISSIPPI,Tornado,NaN,0.0,NaN,F1,2.0,37,NaN,NaN,32.42,-89.13,NaN,NaN,NaN,10047275,0,3,25000.0

In [28]:
reordernarrow_df = narrow_df[["YEAR", 
                              "STATE", 
                              "EVENT_TYPE", 
                              "TOTAL DEATHS", 
                              "TOTAL INJURIES", 
                              "TOTAL DAMAGES", 
                              "SOURCE", 
                              "MAGNITUDE", 
                              "MAGNITUDE_TYPE", 
                              "TOR_F_SCALE", 
                              "TOR_LENGTH", 
                              "TOR_WIDTH", 
                              "TOR_OTHER_CZ_STATE", 
                              "BEGIN_LOCATION", 
                              "BEGIN_LAT", 
                              "BEGIN_LON", 
                              "END_LAT", 
                              "END_LON", 
                              "EPISODE_ID", 
                              "EVENT_ID",]]
reordernarrow_df.head(25)

,YEAR,STATE,EVENT_TYPE,TOTAL DEATHS,TOTAL INJURIES,TOTAL DAMAGES,SOURCE,MAGNITUDE,MAGNITUDE_TYPE,TOR_F_SCALE,TOR_LENGTH,TOR_WIDTH,TOR_OTHER_CZ_STATE,BEGIN_LOCATION,BEGIN_LAT,BEGIN_LON,END_LAT,END_LON,EPISODE_ID,EVENT_ID
0,1950,PENNSYLVANIA,Tornado,0,2,25000.0,NaN,0.0,NaN,F2,12.9,33,NaN,NaN,40.58,-75.70,40.65,-75.47,NaN,10104927
1,1950,OKLAHOMA,Tornado,0,6,250000.0,NaN,0.0,NaN,F2,6.8,100,NaN,NaN,35.00,-96.25,35.07,-96.17,NaN,10099490
2,1950,OKLAHOMA,Tornado,5,32,250000.0,NaN,0.0,NaN,F4,4.5,200,NaN,NaN,35.08,-96.40,35.13,-96.35,NaN,10096223
3,1950,OKLAHOMA,Tornado,0,3,25000.0,NaN,0.0,NaN,F2,4.3,33,NaN,NaN,36.12,-97.83,36.17,-97.78,NaN,10096230
4,1950,MISSISSIPPI,Tornado,0,2,25000.0,NaN,0.0,NaN,F1,0.1,10,NaN,NaN,34.73,-88.27,NaN,NaN,NaN,10049534
5,1950,TEXAS,Tornado,0,2,0.0,NaN,0.0,NaN,F2,4.7,133,NaN,NaN,26.88,-98.12,26.88,-98.05,NaN,10120401
6,1950,TEXAS,Tornado,1,12,25000.0,NaN,0.0,NaN,F3,12.0,1000,NaN,NaN,29.67,-95.05,29.83,-95.00,NaN,10120403
7,1950,TEXAS,Tornado,0,5,250000.0,NaN,0.0,NaN,F2,4.6,100,NaN,NaN,32.35,-95.20,32.42,-95.20,NaN,10120404
8,1950,TEXAS,Tornado,0,6,250000.0,NaN,0.0,NaN,F2,4.5,67,NaN,NaN,32.98,-94.63,33.00,-94.70,NaN,10120405
9,1950,TEXAS,Tornado,1,8,25000.0,NaN,0.0,NaN,F2,8.0,833,NaN,NaN,33.33,-94.42,33.45,-94.42,NaN,10120406
10,1950,TEXAS,Tornado,0,32,250000.0,NaN,0.0,NaN,F1,7.7,100,NaN,NaN,31.80,-94.20,31.88,-94.12,NaN,10120409
11,1950,TEXAS,Tornado,3,15,250000.0,NaN,0.0,NaN,F3,1.9,50,NaN,NaN,31.80,-94.20,31.80,-94.18,NaN,10120410
12,1950,TEXAS,Tornado,5,5,250000.0,NaN,0.0,NaN,F4,1.3,233,NaN,NaN,32.42,-99.50,32.42,-99.48,NaN,10120411
13,1950,TEXAS,Tornado,1,13,250000.0,NaN,0.0,NaN,F2,1.9,50,NaN,NaN,36.40,-100.80,36.42,-100.77,NaN,10120413
14,1950,MISSISSIPPI,Tornado,2,1,0.0,NaN,0.0,NaN,F3,2.0,50,NaN,NaN,33.08,-89.58,NaN,NaN,NaN,10050384
15,1950,ARKANSAS,Tornado,0,3,25000.0,NaN,0.0,NaN,F2,4.1,150,NaN,NaN,34.12,-93.07,34.17,-93.03,NaN,9981925
16,1950,MISSOURI,Tornado,0,3,2500000.0,NaN,0.0,NaN,F3,6.2,150,NaN,NaN,38.77,-90.22,38.82,-90.12,NaN,10063615
17,1950,MISSISSIPPI,Tornado,1,2,0.0,NaN,0.0,NaN,F2,0.0,33,NaN,NaN,33.17,-90.55,NaN,NaN,NaN,10049527
18,1950,MISSISSIPPI,Tornado,0,7,250000.0,NaN,0.0,NaN,F2,9.0,50,NaN,NaN,32.28,-90.27,32.30,-90.12,NaN,10049529
19,1950,MISSISSIPPI,Tornado,0,6,250000.0,NaN,0.0,NaN,F2,6.2,50,NaN,NaN,32.28,-90.27,32.30,-90.17,NaN,10049530
20,1950,OKLAHOMA,Tornado,0,2,25000.0,NaN,0.0,NaN,F2,1.0,33,NaN,NaN,36.45,-99.03,NaN,NaN,NaN,10096235
21,1950,MISSISSIPPI,Tornado,3,2,25000.0,NaN,0.0,NaN,F2,0.0,33,NaN,NaN,34.60,-89.12,NaN,NaN,NaN,10049525
22,1950,NEBRASKA,Tornado,0,101,25000.0,NaN,0.0,NaN,F2,4.1,33,NaN,NaN,42.60,-97.88,42.65,-97.82,NaN,10073784
23,1950,NEBRASKA,Tornado,0,33,2500000.0,NaN,0.0,NaN,F4,10.0,440,NaN,NaN,41.80,-96.60,41.73,-96.42,NaN,10073786
24,1950,MISSISSIPPI,Tornado,0,3,25000.0,NaN,0.0,NaN,F1,2.0,37,NaN,NaN,32.42,-89.13,NaN,NaN,NaN,10047275

In [ ]:
# groupbynarrow_df=reordernarrow_df.sort_values(["YEAR","TOTAL DEATHS"], ascending=True).groupby("TOTAL DEATHS").head()
# groupbynarrow_df.reset_index(drop=True, inplace=True)
# groupbynarrow_df

In [29]:
# Export the narrowed data into a csv
reordernarrow_df.to_csv("reorder_narrow_df_1950-1964.csv")